body {
  background-color: #8c8c8c;
}

.card-order {
  display: flex;
  flex-direction: column;
  border: solid black 1px
}

.orders-all-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vh;
}

.order-placed {
  display: flex;
  flex-direction: row;
  align-item
}