body {
  background-color: #8c8c8c;
}

.card-order {
  display: flex;
  flex-direction: column;
  border: solid #727171 2px;
  color: black;
  margin: 5%;
  text-align: center;
  border-radius: 15px;
  height: 26vh;
  justify-content: center;
  background-color: #FCE2AD;
}

.orders-all-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
  font-size: 125%;
  align-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;


}

.order-placed {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.order-placed span {
  margin-left: 6px;
}

a {
  text-decoration: none;
}

.primary-information {
  background-color: #a8a8a8;
}

.primary-information span {
  margin-left: 6px;
}

.text-details {
  font-weight: 100;
  height: 10%;
}
