body {
  background-color: #8c8c8c;
}

.all-register {
  align-items: center;
  border: solid 1px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  margin-left: 4.5vw;
  margin-top: 10vh;
  width: 90vw;
}

.inputs-register {
  display: flex;
  flex-direction: column;
}

.btn-register {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 50px;
}

.msg-register-div {
  height: 50px;
  text-align: center;
  width: 70%;
}

.msg-register {
  text-align: center;
}
